{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}

<div class="description.font.one">
 &nbsp; &nbsp; Thyroid cancer was the most common malignant tumor in the Endocrine system, accounting for about 1% of all malignant tumors in the body. miRNA was considered as one of the most potential new biomarkers of thyroid cancer. Therefore, the development of miRNA detection methods is of great significance. The design idea of this project was to modify the hairpin structure on the surface of colloidal gold particles, and then the target miRNA could open the hairpin structure to initiate isothermal amplification reaction. By constructing Cas12a and sgRNA vectors, the reverse cleavage function of CRISPR technology was used to release fluorescent signals and complete miRNA detection. This project would establish a fast and convenient miRNA detection method based on CRISPR, helping people to conveniently and efficiently detect miRNAs and contribute to cancer prevention. 
  Detection of mutiple miRNAs based on isothermal amplification on colloidal gold and CRISPR technology
   
</div><br><br>

<div class="description.font.two">
 <div class="description.font.two.div1"> <h3 color="red"> 1.On the project description page, record how and why you choose the iGEM project, and in a few words describe how you will achieve your goals.</h3><br>
  &nbsp; &nbsp;First of all, the framework should be set up as soon as possible,
   and the team is divided into dry and wet teams. The wet team is mainly responsible for biological 
   experiment team and research and business innovation, while the dry team is mainly responsible for ① mathematical
   modeling and web page production group ② publicity and design of ③ hardware device and budget and communication. 
   The two teams assisted each other, improved the efficiency, studied the experiment to make the team members gather together and make progress together, and finally completed the iGEM project.
   &nbsp; &nbsp;Due to the high incidence of thyroid cancer in recent years, early prevention is very
   important, so it is possible to judge whether the patient has potential thyroid cancer through 
   routine testing, and do a good job of early prevention to reduce the incidence rate of thyroid cancer.
    Through our miRNA detection method, we help people to predict whether they are at risk of disease, and help people to detect
     miRNA conveniently and efficiently, contributing to the prevention of cancer.
  </div><br><br>
 <div class="div2"> <h3> 2. Reference enlighten your project of iGEM external or internal work, how you choose your project goals, and why
   you see your project is a useful application of synthetic biology. Please include: a clear and concise project description.</h3><br>
   &nbsp; &nbsp;Inspired by the 2022 project to detect H. pylori, we used synthetic biology to produce the enzymes to be used to achieve the 
  goals of our project through a combination of multiple biotechnology.
  item description:
  &nbsp; &nbsp;As a novel nucleic acid signal amplification technology, the CRISPR-Cas system has promising applications. In the past two years, 
  based on the trans-cleavage activity of Cas12a on single-stranded DNA, several methods including fluorescence-sensing electrochemical 
  sensing, and colorimetric sensing have been constructed for the detection of small biomolecules. Generally speaking, these methods are 
  mainly divided into two categories, one is using Cas12a modification to quench the single-stranded DNA (ssDNA) reporter group and 
  fluorescent group as signal output, the reaction occurs in solution; the other is to modify gold nanomaterials and single-stranded
   DNA (ssDNA) reporter on nanoparticles (Au NPs), to form spherical nucleic acids (SNAs), so that the Cas12a cutting reaction occurs 
   on the surface of sNA.
  </div><br><br>
 <div class="div3"> <h3>3. What problems have you solved through synthetic biology? Why is this issue so important, and how will your project address it?</h3><br>
  &nbsp; &nbsp;The design idea of this project is to modify the hairpin structure on the surface of colloidal gold particles, and then the target miRNA 
  can open the hairpin structure to start the isothermal amplification reaction. By using the construction of Cas12a and sgRNA carriers, the 
  reverse cutting function releases the fluorescence signal to complete the detection of miRNA.
  </div><br><br>
 <div class="div4"><h3>4. Details why your team chose to work on this particular project. What has inspired your team this year? Document the references
   and sources for your research. This can include previous iGEM projects, literature citations, and any other inspiration for your project. 
   Use the illustrations and other visual resources to explain your project.</h3><br>
   &nbsp; &nbsp;As thyroid cancer is the most common malignancy in the endocrine system, representing approximately 1% of systemic malignancy, miRNA is
   considered one of the most promising novel biological markers of thyroid cancer. So it's important to develop miRNA tests, so our team is 
   going to do this project this year
  Rereference: A new type of nanoparticle surface constrained CRISPR-Cas12a 3D DNA Walking nanomachines for sensitive and stable mirna 
  detection.
  &nbsp; &nbsp;A novel 3D DNA walker-like structure based on the CRISPR / Cas system and a spherical nucleic acid (SNA). CRISPR / Cas as the walking 
  leg on a spherical nucleic acid. Walking Cas12a lysis efficiency and acceleration of the shear recognition response due to the confinement 
  effect on the spherical nucleic acid surface. Walking cleavage efficiency is accelerated due to the constraint effect.
 
  <!-- 所有的的div后面两个br，h3后面有一个br来控制间距 -->
  </div>
</div>

<div class="row mt-4">
 
</div>

{% endblock %}
